<!DOCTYPE html>
<html th:replace="~{dashboard :: dashboard (~{::title}, ~{::main}, _)}">
<head>
     
  <title>Promocao</title>
</head>
<body>
	<main>
		<div class="row">
      <div class="col-sm-12">
        <div class="card">
          <!-- /.card-header -->
          <div class="card-body table-responsive p-0">
            <table class="table table-hover text-nowrap">
              <thead>
                <tr>
                  <th>ID</th>
                  <th>Img</th>
                  <th>Nome</th>
                  <th>Valor</th>
                  <th>% desconto</th>
                  <th>Valor com Desconto</th>
                  <th>Ações</th>
                </tr>
              </thead>
              <tbody>
                <tr th:each="promocao : ${promocoes}">
                  <td th:text="${promocao.id}">183</td>
                  <td>
                  	<img alt="Image" width="150px" height="150px" th:src="|/imagempromo/${promocao.id}|"/>
                  </td>
                  <td th:text="${promocao.NomeDestino}">Desenvolvedor(a) Back End Jr.</td>
                  <td th:text="${promocao.valor}">R$</td>
                  <td th:text="${promocao.percDesconto}">R$</td>
                  <td th:text="${promocao.valorComDesconto}">R$</td>
                  
                  <td>
                    <div class="btn-group">
                      <a type="button" data-toggle="popover" data-placement="top" data-content="Editar" data-trigger="hover" class="btn btn-warning" th:href="@{/promocao/{id}/editar (id=${promocao.id})}">
                        <i class="fas fa-edit"></i>
                      </a>
                      <a 
                        type="button" data-toggle="popover" data-placement="top" 
                        data-content="Remover" data-trigger="hover" class="btn btn-danger" 
                        th:href="@{/promocao/{id}/excluir (id=${promocao.id})}" 
                        onclick="return confirm('Tem certeza que deseja excluir a promoção?');"
                      >
                        <i class="fas fa-trash"></i>
                      </a>
                    </div>
                  <td>
                </tr>
              </tbody>
            </table>
          </div>
          <!-- /.card-body -->
        </div>
      </div>
    </div>
	</main>
</body>
</html>