<footer th:fragment="footer" class="footer navbar-fixed-bottom">
        <p>
            <a class="botao-inicio"href="#inicio">Voltar ao início</a>
        </p>
        <div class="formas-pagamento">
            <p>Conheça nossas formas de pagamento</p>
            <img src="img/fp.png" alt="Formas de pagamento">
        </div>
        <div>
            <p class="midias">Siga nossas midias sociais: </p>
            <p class="midias">
                <a href="#"><img src="img/social-media/twitter.png" alt="Social media twitter"></a>
                <a href="#"><img src="img/social-media/insta.png" alt="social media instagram"></a>
                <a href="#"><img src="img/social-media/fb.png" alt="social media facebook"></a>
                <a href="#"><img src="img/social-media/yt.png" alt="social media youtube"></a>
                <a href="#"><img src="img/social-media/in.png" alt="social media linkedin"></a>
            </p>
            <span>Desenvolvido por <a href="#">@rubenich.vitor</a></span>
            <br>
            <span> Recode PRO - 2022</span>
        </div>
            
</footer>