<nav th:fragment="navbar-site" class="navbar bg-header-color navbar-expand-lg navbar-light border-bottom">
    <div class="container-fluid ">
        <a href="/">
            <img class="logo logo-claro" src="img/img-logo.png" href="/">
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
            <ul class="navbar-nav">
                <li class="itens nav-item px-3">
                    <a class="nav-link fs-5" href="destinos">Destinos</a>
                </li>
                <li class="itens nav-item px-3">
                    <a class="nav-link fs-5" href="promocoes">Promoções</a>
                </li>
                <li class="itens nav-item px-3">
                    <a class="nav-link fs-5" href="contato">Contato</a>
                </li>
                <li class="itens nav-item px-3 ">
                  <a class="nav-link fs-5" th:href="@{/login}">Login</a>
                </li>
            </ul>
            
        </div>
        
    </div>
</nav>