<!DOCTYPE html>
<html th:replace="~{dashboard :: dashboard (~{::title}, ~{::main}, _)}">

<head>
	<title>[[${destino.id == null ? 'Novo' : 'Editar'}]] Destino</title>
</head>

<body>
	<main>
		<div class="row">
			<div class="col-sm-12">
				<div class="card">
					<!-- /.card-header -->
					<!-- form start -->
					<form method="POST" th:object="${destino}" enctype="multipart/form-data">

						<!--<input required type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"> -->
						<div class="card-body">
							<input required type="hidden" th:field="*{id}">

							<div class="row">
								<div class="col-sm-12">
									<div class="form-group">
										<label for="nome">Nome do Destino</label>
										<input required type="text" class="form-control"
											placeholder="Maldivas" th:field="*{NomeDestino}">
									</div>
									<div class="form-group">
										<label for="nome">Valor do Destino</label>
										<input required type="number" class="form-control"
											placeholder="R$ 2000" th:field="*{valor}">
									</div>
								</div>
								<div class="form-group">
									<label for="imagem" >Sua Imagem</label>
									<input required class="form-control" type="file" id="imagem" name="fileDestino" accept="image/png, image/jpeg"/>								
								</div>
								
							</div>
						</div>
						<!-- /.card-body -->

						<div class="card-footer">
							<button type="submit" class="btn btn-primary">Salvar</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</main>
</body>
</html>